
.orderCat-BTN{
    background:var(--yellow);
    margin:10px;
    color:var(--green)
}
.orderCat-BTN:active{
    background:blue;
}

.sticky{
    position:fixed;
    background:white;
    width:85%;
    top:6vw;
    z-index:1;
}
.item-container{
    margin-top:100px;
    margin-bottom:20px;
}
.adjustModal{
    max-width:600px;
}