/**Header**/
.header_logo{
    width:20vw;
    height:5vw;
}
.nav_bar{
    font-family:var(--paragraph-font-family);
    font-weight: bold;
    color:black;
    position:relative;
    left:50px;
    font-size:1.5vw;
}
.nav-item:hover, .social-icon:hover{
    text-decoration-line: underline;
    color:var(--yellow)
}

/***Footer***/
footer{
    background:var(--gray);
    padding: 1.25vw;
    font-family: var(--paragraph-font-family);
}
.footer-logo{
    width:5vw;
}
.social-icon{
    color:black;
    padding: 30px 15px 0px 0px;
}

/**homepage**/
.hero{
    background:var(--green);
    font-family: var(--headings-font-family);
    margin-top:7vw;
    color:white;
    display:flex;
    justify-content: center;
}
.hero-description{
    margin-top:3rem;
    width:30vw;
}
.hero-image-container{
    margin-top:3rem;
    width:30vw;
    padding-bottom:1.5rem;
}
.hero-image{
    width:20vw;
    border-radius:10px;
}

.hero-description h1{
    color:var(--yellow);
    font-size:5vw;
}
.hero-description h3{
    color:white;
    font-size:2.5vw;
    position:relative;
}
.hero-description p{
    font-size:1.25vw;
    font-family:var(--paragraph-font-family);
    color:white;
}
.hero-description button{
    font-size:2vw;
    font-family:var(--headings-font-family);
    padding:1vw;
    width:15vw;
    background:var(--yellow);
    border-radius:10px;
    border:none;
}
.hero-description button:hover{
    background:var(--peach);
    color:var(--orange);
    cursor: pointer;
}
/****Special section****/
.specials-title{
    text-align:center;
    padding-top:20px;
}
h2{
    font-size:3.5vw;
    font-family:var(--headings-font-family)
}
.specials button{
    font-size: 2vw;
    width:10vw;
    font-family: var(--headings-font-family);
    background: var(--yellow);
    border-radius: 10px;
    border: none;
}
.specials button:hover{
    background: var(--peach);
    color: var(--orange);
    cursor: pointer;
}

.special-display{
    background:var(--gray);
    padding:2rem;
    text-align:center;
    border-radius:10px;
    margin-left:10px;
    margin-top:2rem;
    margin-bottom:2rem;
}
.special-display div{
    display:flex;
    justify-content: space-between;
    font-family:var(--headings-font-family);
    font-size:1.5rem;
}
.special-display p{
    text-align:justify;
    font-family:var(--paragraph-font-family);
    padding:10px;
}
h4{
    font-size:1.25rem;
}
.special-display img{
    width:22rem;
    height:15rem;
}
/***testtmonal**/
.testimonial{
    background:var(--green);
    text-align:center;
}

.testimonial-display{
    border-radius:10px;
    text-align:center;
    margin:40px;
    padding-top:20px;
    
}
.user-picture{
    width: 10rem;
    border-radius:10px;
}
.testimonial-display p{
    font-family:var(--paragraph-font-family);
}
/****Our Story ***/
.about{
    background:var(--green);
    margin-top:7vw;
    padding:20px; 
    text-align:justify;
}
.about h1{
    font-family:var(--headings-font-family);
    color: var(--yellow);
    font-size: 4rem;
}
.about p{
    font-family:var(--paragraph-font-family);
    font-size:1.5rem;
    color:white;
}

.owner-one, .owner-two{
    width:20rem;
    height:15rem;
    border-radius:10px;
    margin:20px;
}

.owner-two{
   position:relative;
   right:10vw;
}
/***menu****/
.menu{
    text-align:center;
    background:var(--green);
    padding:20px;
}
.menu h1{
    font-family: var(--headings-font-family);
    color: var(--yellow);
    padding-top:7rem;
    font-size: 4rem;
}

.catBTN{
    font-size: 2vw;
    font-family: var(--headings-font-family);
    background: var(--yellow);
    border-radius: 10px;
    border: none;
    width:20vw;
    height:3vw;
    margin:10px;
}
.catBTN:hover{
    background: var(--peach);
    color: var(--orange);
    cursor: pointer;
}
.menu-display-container{
    background:white;
    border-radius:10px;
    border: 10px solid var(--yellow);
    border-style:double;
}
.scrolling-btn{
    color:var(--gray);
    font-size:2rem;
    position:fixed;
    bottom:50px;
    right:50px;
    visibility: hidden;
}
.appear{
    visibility: visible;
}
/***Reservation***/

.booking-header-container{
    text-align:center;
    background-image: url(./assets/thirdpic.jpg);
    background-size: cover;
    background-position: center;
    padding:20px;
}
.booking-header-container h1{
    font-size:5vw;
    font-family:var(--headings-font-family);
    color:var(--orange);
}
.availability-container {
    text-align: center;
    color: var(--orange);
    font-family: var(--headings-font-family);
    font-size:15px;
    padding-bottom:1.5rem;
}
.booking-form-container{
    font-family: var(--paragraph-font-family);
    font-size: 15px;
}
/***order online***/
.orderOnline{
    margin-top:7rem;
}
/****login****/
.login{
    background: var(--green);
    text-align:center;
    padding: 20px;
    font-family: var(--paragraph-font-family);
    font-size: 20px;
    color:white;
    width:100%;
}
.login-container{
    border-radius: 10px;
    width:450px;
    margin:auto;
    margin-top:7rem;
    border: 10px solid var(--yellow);
    border-style: double;
    color:white;
    padding: 20px;
    text-align:left;
}
.login-container label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
}
.login-container input {
    width: 400px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 10px;
    text-align: center;
}
.login-container p{
    color:var(--orange)
}
.login-container p:hover{
    color:var(--peach);
    cursor: pointer;
}
.login-container button {
    font-size: 25px;
    font-weight: bold;
    width: 150px;
    padding: 10px;
    display: block;
    margin: auto;
    border-radius: 10px;
    background: var(--yellow);
    border: none;
}

.login-container button:hover {
    background: var(--peach);
    color: var(--orange);
    cursor: pointer;
}
.login span{
    color: var(--orange);
}
.login span:hover{
    color:var(--peach);
    cursor: pointer;
}
/***Confirmation page **/

.information-container{
    background:white;
    padding:20px;
    font-size:2vw;
    font-family:var(--paragraph-font-family);
}

.map-container{
    background-image: url(./assets/map.jpg);
    background-size: cover;
    background-position: center;
    height:25vw;
}
.closeOut{
    color:white;
    font-size:2rem;
    float:right;
    padding:10px;
    border-radius:45%;
    position:relative;
    top:20px;
}
.closeOut:hover{
    background:var(--yellow);
    cursor: pointer;
}
